/* ALL */
* {
  font-family: 'Open Sans', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* HEADER */
#main-header {
  align-items: center;
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #FFFFFF;
  font-size: 3em;
  margin-left: 10px;
}

span {
 color: #FFC30C;
}

#search-input {
  border: 2px solid #1E1E3D;
  font-size: 1.3em;
  height: 47px;
  width: 304px;
}

#search-button {
  background-image: url(images/search.svg);
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 3px;
  height:47px;
  width: 47px;
}

#search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

/* FULL PAGE */
.full-page {
  border: 2px solid #4A6378;
  display: flex;
}

/* ASIDE */
aside {
  background-color: #587A8A;
  width: 33%;
}

form {
  border: solid #4A6378;
  border-width: 0 0 2px 0;
}

.aside-label {
  color: #C4D2D8;
  font-size: .9em;
  font-weight: bold;
  margin: 12% 0 2% 0;
  margin-left: 2%;
}

#aside-title-input,
#aside-add-task-input {
  border: 2px solid #1E1E3D;
  border-radius: 3px;
  color: #1E1E3D;
  font-size: 1.5em;
  margin: 0 2% auto;
  padding: .25em;
  width: 96%;
}

#aside-add-task-input {
  border-radius: 3px 0 0 3px;
  margin-right: 0;
  width: 86%;
}

#aside-add-task {
  display: flex;
  justify-content: flex-start;
}

.aside-add-task-button {
  align-items: center;
  background-color: #1E1E3D;
  border: none;
  border-radius: 0 3px 3px 0;
  display: flex;
  height: 4.5em;
  justify-content: center;
  margin: 0;
  margin-right: 2%;
  padding: 0;
  width: 10%;
}

.aside-button {
  background-color: #1E1E3D;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: bold;
  padding: 4px;
  margin: 3% 2%;
  width: 95%;
}

.aside-clear-button {
  margin-bottom: 10%;
}

.aside-urgent-button,
.aside-make-button {
  margin-top: 10%;
}

.plus-img {
  width: 100%;
  height: 100%;
}

.aside-task {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 5%;
}

.aside-task-delete-img {
  margin: 0;
  width: 20px;
}

.aside-task-list-item {
  color: #FFFFFF;
  font-size: 1.2em;
  margin-left: 4px;
}

/* MAIN */
main {
  background-color: #fff;
  border-left: 2px solid #4a6378;
  width: 67%;
}

.blank-msg {
  color: #C7D3D8;
  float: left;
  font-size: 1em;
  font-style: italic;
  margin: 5%;
}

/* CARDS */
.card {
  background-color: #F3F6F7;
  border: 2px solid #cbcac9;
  display: inline-block;
  margin-top: 1em;
  width: 100%;
}

.cards {
  column-count: 2;
  column-gap: 1em;
  padding: 1em;
}

.urgent-card {
  background-color: #FFE89D;
  border: 2px solid #FFC30C;
  display: inline-block;
  margin-top: 1em;
  width: 100%;
}

.card-header {
  color: #1F1F3D;
  border-bottom: solid 1px #cbcac9;
  margin: 2%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.card-task-container {
  display: block;
  margin: 2%;
}

.unchecked-box,
.checked-box {
  width: 25px;
}

.completed-task {
  color: #3C6577;
  font-style: italic;
}

.task-on-card {
  display: inline;
  margin: 2%;
}

footer {
  border-top: solid 1.5px #c7d3d8;
  display: flex;
  height: 58px;
  justify-content: space-between;
  margin: 6px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.urgent-button-container, .card-delete-button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.delete-img {
  height: 27px;
  width: 50px;
}

.urgent-img,
.urgent-active-img {
  height: 27px;
  width: 50px;
}

.card-button-label {
  margin: 0;
}

.card-delete-button {
  align-items: center;
  border: 2px solid #C7D3D8;
  border-radius: 50%;
  display: flex;
  height: 22px;
  justify-content: center;
  margin: 0;
  width: 22px;
}

.hide-msg {
  display: none;
}

.urgent-button {
  height: 64px;
  background-color: inherit;
  border: none;
  width: 53px;
}

.card-delete-button {
  height: 64px;
  width: 53px;
}

.delete-button {
  background-color: inherit;
  border: none;
  height: auto;
  width: auto;
}

.card-list-item {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.unchecked-box,
.checked-box {
  width: 25px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.8em;
  }

  #search-input {
    height: 30px;
    width: 200px;
  }

  #search-button {
    height:30px;
    width: 30px;
  }

  aside {
    width: 40%;
  }

  main {
    width: 60%;
  }

  .cards {
    column-count: 1;
  }
}

@media screen and (max-width: 470px) {
  #main-header {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 250%;
    margin: 10px 0;
  }

  #search-form {
    margin: 20px 0;
    width: 75%;
  }

  #search-input {
    height: 40px;
    margin: 0 auto;
    width: 100%;
  }

  #search-button {
    height:40px;
    width: 40px;
  }

  .full-page {
    display: block;
  }

  aside,
  main {
    padding: 25px;
    width: 100%;
  }

  .aside-label {
    margin-top: 10px;
  }

  #aside-title-input {
    margin-bottom: 25px;
  }

  .cards {
    column-count: 1;
  }
}
