* {
  font-family: 'Open Sans', sans-serif;
  /* border: 1px red solid; */
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.full-page {
  display: flex;
  border: 2px solid #4A6378;
}

#main-header {
  align-items: flex-end;
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;

}

h1 {
  color: #FFFFFF;
  font-size: 3em;
  margin-left: 10px;
}

span {
 color: #FFC30C;
}

#search-input {
  height: 47px;
  width: 304px;
  border: 2px solid #1E1E3D;
  font-size: 1.3em;
}

#search-button {
  height:47px;
  width: 47px;
  background-image: url(images/search.svg);
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
  border-radius: 3px;
}

#search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

aside {
  width: 33%;
  background-color: #587A8A;
}

form {
  border: solid #4A6378;
  border-width: 0 0 2px 0;
}

.aside-label {
  font-weight: bold;
  font-size: .9em;
  color: #C4D2D8;
  margin: 12% 0 2% 0;
  margin-left: 2%;
}

#aside-title-input,
#aside-add-task-input {
  border: 2px solid #1E1E3D;
  border-radius: 3px;
  margin: 0 2% auto;
  width: 96%;
  color: #1E1E3D;
  font-size: 1.5em;
  padding: .25em;
}

#aside-add-task-input {
  border-radius: 3px 0 0 3px;
  width: 86%;
  margin-right: 0;
}

#aside-add-task {
  display: flex;
  justify-content: flex-start;
}

#aside-add-task-button {
  background-color: #1E1E3D;
  border: none;
  margin: 0;
  margin-right: 2%;
  border-radius: 0 3px 3px 0;
  padding: 0;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5em;
}

.aside-button {
  width: 95%;
  background-color: #1E1E3D;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 4px;
  margin: 3% 2%;
  font-size: 1em;
}

#aside-clear-button {
  margin-bottom: 10%;
}

#aside-urgent-button,
#aside-make-button {
  margin-top: 10%;
}

#plus-img {
  width: 100%;
}

.aside-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5%;
}

.aside-task-delete-img {
  width: 20px;
  margin: 0;
}

.aside-task-list-item {
  margin-left: 4px;
  color: #FFFFFF;
  font-size: 1.2em;
}

.error-msg {
  display: none;
  color: #FFFFFF;
  margin: 1% 0 0 5%;
}

.show-msg {
  display: block;
}

main {
  width: 67%;
  background-color: #fff;
  border-left: 2px solid #4a6378;
}

.card {
  border: 2px solid #cbcac9;
  background-color: #F3F6F7;
  margin-top: 1em;
  width: 100%;
  display: inline-block;
}

.cards {
  column-count: 2;
  column-gap: 1em;
  padding: 1em;
}

/* .urgent-card {
  background-color: #FFE89D;
  border: 2px solid #FFC30C;
} */

.card-header {
  color: #1F1F3D;
  margin: 2%;
  border-bottom: solid 1px #cbcac9;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-task-container {
  display: block;
  margin: 2%;
}

.completed-task {
  font-style: italic;
  color: #3C6577;
}

.task-on-card {
  margin: 2%;
  display: inline;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 58px;
  border-top: solid 1.5px #c7d3d8;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 6px;
}

.urgent-button-container, .card-delete-button-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.delete-img {
  width: 50px;
  height: 27px;
}

.urgent-img {
  width: 50px;
  height: 27px;
}

.card-button-label {
  margin: 0;
}

.card-delete-button {
  height: 22px;
  width: 22px;
  margin: 0;
  border: 2px solid #C7D3D8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blank-msg {
  font-style: italic;
  color: #C7D3D8;
  font-size: 1em;
  margin: 5%;
  float: left;
}

.hide-msg {
  display: none;
}

.urgent-button {
  height: 64px;
  width: 53px;
  border-color: #F3F6F7;
  background-color: #F3F6F7;
}

.card-delete-button {
  height: 64px;
  width: 53px;
}

.delete-button {
  width: auto;
  height: auto;
  border-color: #F3F6F7;
  background-color:#F3F6F7;
}

.card-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.unchecked-box,
.checked-box {
  width: 25px;
}
